body{
    background: white;
    background-repeat: repeat;
}
h1{
    color: black;
    font-weight: 300;
    margin: 30px;
}

#album-wrapper{
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    gap: 30px;
    justify-content: space-around;
}
.album-item{
    width: 23%;
    border: 2px solid black;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    color: black;
}
.album-title{
    border: 0px solid;
    font-size: 23px;
    font-weight: 400;
    box-shadow: 3px 7px 3px 1px black;
    height: 80px;
}
img{
    margin: 10px;
    border-radius: 10px;
}
a{
    color:black;
}
a:hover{
    color: lightgray;
}
.navbar-nav a{
    color: rgb(95, 95, 95);
}
.navbar-nav a:hover{
    color: lightgrey;
}
