body{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/612ebd73857253.5c1ad1bd122fe.png);
    background-size: contain;
}
h1{
    margin: 30px;
    font-weight: 300;
}
h2{
    text-align: center;
    font-size: 30px;
}
.album-author{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.album-photos{
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: space-around;
    margin-top: 30px;
}
img{
    width: 300px;
}
