body{
    background-image: url(https://previews.123rf.com/images/monsitj/monsitj1708/monsitj170800097/84934280-abstract-illustration-background-with-user-icon-and-connecting-dots-and-lines-business-and-global-co.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
h1{
    color: black;
    font-weight: 300;
    margin: 30px;
}
#user-info{
    border: 2px solid rgb(110, 178, 251);
    width: 70%;
    background-color: rgba(255, 255, 255, 0.97);
    height: 300px;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 22px;
    border-radius: 10px;
}
#user-info img{
    float: left;
    width: 250px;
    margin-right: 50px;
}
#posts-wrapper{
    text-align: center;
}
.posts-button{
    background-color:  rgb(55, 151, 255);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 60%;
    margin-top: 10px;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 15px;
}
.posts-button:hover{
    background-color: blue;
}

.post-item{
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
}
#posts-wrapper a{
color: rgb(110, 178, 251);
}
#posts-wrapper a:hover{
    color: blue
}
#user-albums{
    text-align: center;
}
#user-albums li{
    list-style-type: none;
    font-weight: 100;
    margin-bottom: 6px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    margin-top: 5px;
    border: 1px solid black;
    padding: 10px;
    border-radius: 10px;
}
#user-albums a{
    font-size: 18px;
    color: rgb(93, 167, 247);
    font-size: 20px;
}
#user-albums a:hover{
    color:blue
}
strong{
    color: rgb(84, 166, 254);
}