body{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/fc0445146673637.62b45bf6019a4.jpg);
    background-size: contain;
}
h1{
    margin: 30px;
    font-weight: 300;
}
#posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}
.post-item{
    box-sizing: border-box;
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    padding: 20px;
    font-weight: 300;
    background-color: white;
    
}
.post-title{
    border: 0px solid;
    font-size: 23px;
}

.post-author a{
    text-decoration: underline;
    font-size: 19px;
    color: black;
}
.post-author a:hover{
    color:  rgb(239, 209, 15);
}
.post-content{
    font-size: 17px;
    border: 0px solid;
    padding: 2px;
    box-shadow: 1px 1px 1px black;
    margin-top: 10px;
}
.comment-button{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 20%;
    margin: 2px;
    font-weight: 200;
    box-sizing: border-box;
}
.comment-button:hover{
    background-color: rgb(239, 209, 15);
}
.user-album-button:hover{
    background-color:rgb(239, 209, 15);
}
img{
    width: 44%;
    float: left;
}
.comments-wrap{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(239, 209, 15, 0.1);
}
.comments-wrap h3{
    font-size: 20px;
}
.comments-wrap a{
    color: black;
}
.comments-wrap a:hover{
    color: rgb(239, 209, 15);
}
.navbar-nav a{
    color: black;
}
.navbar-nav a:hover{
    color: lightgrey;
}
.navbar-nav a{
    color: rgb(95, 95, 95);
}
.navbar-nav a:hover{
    color: lightgrey;
}
