body{    
    background-color: azure;
    }
h1{
    color: black;
    font-size: 40px;
    font-weight: 300;
    margin: 90px 0px 20px 30px;
}
#posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}
.post-item{
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
    padding: 20px;
    font-weight: 300;
    background-color: rgba(255, 255, 255, 0.8);
    
}
.post-title{
    font-size: 23px;
}

.post-author a{
    text-decoration: underline;
    font-size: 19px;
    color: black;
}
.post-author a:hover{
    color:   rgb(57, 200, 200);
}
.post-content{
    font-size: 17px;
    border-right: 1px solid black;
    margin-top: 10px;
}
.comment-button{
    background-color: black;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 25%;
    margin: 2px;
    font-weight: 200;
    box-sizing: border-box;
}
.comment-button:hover{
    background-color: rgb(57, 200, 200);
}
.user-album-button:hover{
    background-color: rgb(57, 200, 200);
}
img{
    width: 26%;
    float: left;
    margin-right: 10px;
}
.comments-wrap{
    border: 1px solid black;
    text-align: left;
    padding: 10px;
    border-radius: 10px;
    margin-top: 50px;
    background-color:  rgba(57, 200, 200, 0.1);
}
.comments-wrap h3{
    font-size: 20px;
}
.comments-wrap a{
    color: black;
}
.comments-wrap a:hover{
    color:  rgb(57, 200, 200);
}
body{
    margin: 0;
}