body{
    margin: 0;
}
header{
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    padding: 10px;
}
nav ul{
    display: flex;
}
nav li{
    width: 7%;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: grey;
    font-size: 19px;
}
nav a:hover{
    color: black;
}
.active{
    color: black;
}