body{    
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/6cee5b129331473.6169f3546f49c.png);
    background-size: contain;
}
h1{
    color: black;
    font-size: 50px;
    font-weight: 300;
    margin-top: 40px;
}
.welcome-wrapper{
    display: flex;
    margin: 20px;
    justify-content: center;
    margin-bottom: 100px;
}
.welcome-wrapper img{
    width: 150px;
    margin-right: 20px;
}

#posts-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px 50px 80px 50px;
    justify-content: center;
}
.post-header h2{
    text-align: center;
}
.post-item{
    box-sizing: border-box;
    border: 2px solid black;
    width: 31%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    
}
.post-title{
    border: 0px solid;
    padding: 10px;
    box-shadow: 5px 10px 5px 2px black;
    height: 180px;
    margin-bottom: 20px;
}

.post-author a{
    text-decoration: underline;
    color: black;
}
.post-author a:hover{
    color:  rgb(0, 166, 255);
}
.post-content{
    font-size: 17px;
    border: 0px solid;
    padding: 2px;
    margin-top: 10px;
    box-shadow: 1px 1px 1px black;
}
.see-more{
    text-align: center;
    font-size: 30px;
    margin-top: -80px;
    margin-bottom: 100px;
}
.see-more a{
    color: black;
}
.see-more a:hover{
    color:  rgb(0, 166, 255);
}

#posts-wrapper img{
    width: 50%;
}
.navbar-nav a{
    color: black;
}
.navbar-nav a:hover{
    color: lightgrey;
}
#album-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px 50px 80px 50px;
    justify-content: space-around
}
.album-item{
    box-sizing: border-box;
    border: 2px solid black;
    width: 31%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    
}
.album-title{
    font-size: 24px;
    color: black;
}
.album-title a{
    color: black;
}
.album-title a:hover{
    color:  rgb(0, 166, 255);
}
#album-wrapper img{
width: 300px;
}
.album-author{
    font-size: 16px;
}
.album-author a{
    color: black;
}
.album-author a:hover{
    color: rgb(0, 166, 255);
}

#user-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    box-sizing: border-box;
    gap: 20px;
    padding: 10px 50px 80px 50px;
    justify-content: center;
}
#user-wrapper h1{
    font-size: 25px;
}

.user-item{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    width: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: auto;
    margin-right: auto;
}
#user-wrapper img{
    width: 30%;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}
.user-post-button{
    background-color: rgb(10, 186, 181);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
    margin-top: 10px;
}

.user-album-button{
    background-color: rgb(10, 186, 181);
    color: black;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
}
.user-post-button:hover{
    background-color:rgb(104, 104, 255);
}

.user-album-button:hover{
    background-color:rgb(104, 104, 255);
}
#user-wrapper .user-post{
    list-style-type: none;
    font-size: 18px;
    margin-top: 10px;
}
#user-wrapper .read-more a{
    color:  rgb(104, 104, 255);
}
#user-wrapper .read-more a:hover{
    color: rgb(10, 186, 181);
}
#user-wrapper .user-album a{
    color: rgb(104, 104, 255);
    text-decoration: none;
    font-size: 18px;
}
.user-album a:hover{
    color: rgb(10, 186, 181);
}
#user-wrapper a{
    color: rgb(10, 186, 181);
}
#user-wrapper strong{
    color: black;
    font-size: larger;
    font-weight: 400;
}
#user-wrapper p{
    color: rgb(125, 125, 252);
    font-size: large;
}
.user-name a:hover{
    color: blue;
}
body{
    margin: 0;
}
header{
    background-color: white;
    box-shadow: 2px 2px 2px grey;
    padding: 10px;
}
nav ul{
    display: flex;
}
nav li{
    width: 7%;
    list-style: none;
}
nav a{
    text-decoration: none;
    color: grey;
    font-size: 19px;
}
nav a:hover{
    color: black;
}
.active{
    color: black;
}
form{
    display: flex;
    justify-content: end;
    margin-top: -43px;
}
