body{
background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/bc7fe4126003391.6124e84960cdc.jpg);
background-size: contain;
}
h1{
    color: black;
    font-weight: 300;
    margin: 30px;
}
#user-wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    box-sizing: border-box;
    gap: 20px;
}
.user-item{
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 15px;
    width: 60%;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
}
img{
    width: 40%;
    float: left;
    margin-right: 15px;
    margin-bottom: 20px;
}
.user-post-button{
    background-color: rgb(10, 186, 181);
    color: black;
    padding: 12px;
    border: none;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
}

.user-album-button{
    background-color: rgb(10, 186, 181);
    color: black;
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 400;
}
.user-post-button:hover{
    background-color:rgb(104, 104, 255);
}

.user-album-button:hover{
    background-color:rgb(104, 104, 255);
}
.user-post{
    list-style-type: none;
    font-size: 18px;
    margin-top: 10px;
}
.read-more a{
    color:  rgb(104, 104, 255);
}
.read-more a:hover{
    color: rgb(10, 186, 181);
}
.user-album a{
    color: rgb(104, 104, 255);
    text-decoration: none;
    font-size: 18px;
}
.user-album a:hover{
    color: rgb(10, 186, 181);
}
a{
    color: rgb(10, 186, 181);
}
strong{
    color: black;
    font-size: larger;
    font-weight: 400;
}
p{
    color: rgb(125, 125, 252);
    font-size: large;
}
.user-name a:hover{
    color: blue;
}
.navbar-nav a{
    color: rgb(95, 95, 95);
}
.navbar-nav a:hover{
    color: lightgrey;
}

