*{margin: 0;}
body{
    background-color: azure;
}
/* header{
    padding: 16px 0px 16px 0px;
}
.search-input{
    margin-top: 23px;
    width: 170px;
}
nav ul li a{
    font-size: 21px;
}
.search-submit{
height: 28px;
margin-top: 23px;
font-weight: 500;
font-size: 17px;
} */

.three-inputs{
    display: flex;
    gap: 50px;
}
h1{
   color: rgb(57, 200, 200);
   font-weight: 300;
   margin: 30px;
   margin-top: 90px;
}
label{
    color: rgb(57, 200, 200);
    font-size: 19px;
    font-weight: 500;
}
.form-wrapper{
    margin: 30px 0px 20px 120px;
}
#create-user-form{
margin-top: 20px;
}
.form-control{
    margin-bottom: 10px;
}
#post-title{
    border: 1px solid rgb(57, 200, 200);
    border-radius: 5px;
    color: rgb(113, 113, 113);
    width: 350px;
    height: 20px;
}
#post-button{
    background-color: rgb(57, 200, 200);
    border: none;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 30px;
    margin-top: 5px;
}
#post-button:hover{
    background-color: rgb(71, 71, 248);
}
.post-wrapper{
    margin-top: 50px;
    background-color: white;
    width: fit-content;
    padding: 10px;
}
.created-post-title{
    font-size: 24px;
    margin-bottom: 10px;
}
.created-post-author a{
    color:  rgb(57, 200, 200);
}
.created-post-body{
    margin-top: 10px;
}