*{margin: 0;}
body{
    background-color: azure;
}
header{
    padding: 16px 0px 16px 0px;
}
.search-input{
    margin-top: 23px;
    width: 170px;
}
nav ul li a{
    font-size: 21px;
}
.search-submit{
height: 28px;
margin-top: 23px;
font-weight: 500;
font-size: 17px;
}

.two-inputs{
    display: flex;
    gap: 70px;
    justify-content: center;
    margin-left: 30px;
}
h1{
   color: rgb(57, 200, 200);
   font-weight: 300;
   text-align: center;
   margin: 90px 0px 20px 0px;
}
label{
    color: rgb(57, 200, 200);
    font-size: 19px;
    font-weight: 500;
}

.form-control{
    margin-bottom: 10px;
}
.user-input{
    border: 1px solid rgb(57, 200, 200);
    border-radius: 5px;
    color: rgb(113, 113, 113);
    width: 250px;
    height: 20px;
}
.post-button{
    background-color: rgb(57, 200, 200);
    border: none;
    border-radius: 5px;
    color: white;
    width: 150px;
    height: 30px;
    margin-top: 15px;
}
.post-button:hover{
    background-color: rgb(71, 71, 248);
}
.user-wrapper{
    margin: 50px;

    background-color: white;
    width: fit-content;
    padding: 10px;
}
.button-center{
    display: flex;
    justify-content: center;
}
.wrap-created-user{
    display: flex;
    justify-content: center;
}