body{
    background-image: url(https://mir-s3-cdn-cf.behance.net/project_modules/1400_opt_1/612ebd73857253.5c1ad1bd122fe.png);
    background-size: contain;
    background-repeat: no-repeat; 
}
h1{
    color: black;
    font-size: 40px;
    font-weight: 300;
    margin: 90px 0px 20px 30px;
}
h2{
    text-align: center;
    font-size: 30px;
}
.album-author{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.album-photos{
    gap: 50px;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    justify-content: center;
    margin-top: 20px;
}
img{
    object-fit: contain;
}
body{
    margin: 0;
}